*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* generics */
button{
    border: none;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: white;
}
/* utilities */
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

/* content */
.w-80{
    width: 80%;
    margin: auto;
}

.w-60{
    width: 60%;
    margin: auto;
}

.w-70{
    width: 70%;
    margin: auto;
}

.w30{
    width: 30%;
    margin: auto;
}

.w-50{
    width: 50%;
}

.w-90{
    width: 90%;
    margin: auto;
}

/************* HEADER  ************/
#header-principal{
    background-color: #0084fd;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}

.header-img-content{
    width: 60px;
}

.header-img-content img{
    width: 100%;
}

.container-header button i{
    color: white;
}

.btn-none{
    display: none;
}

nav{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.btn-white{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 70px;
}

/************* MAIN  ************/
/* SECTION-FIRST */

/* Content-top  */
.content-top{
    padding-top: 80px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.content-blue{
    width: 65%;
    background-color: #b9dbfe;
    padding-left: 30px;
    padding-top: 30px;
    column-gap: 10px;
    border-radius: 20px;
}

.content-green{
    width: 30%;
    align-items: center;
    background-color: #caf0db;
    padding: 30px;
    border-radius: 20px;
}


.content-img img{
    height: 250px;
    width: 200px;
}

.content-img{
    align-items: flex-end;
    padding-right: 30px;
}

.content-green i{
    font-size: 60px;
}

.content-text > *,
.content-green > *{
    margin-bottom: 10px;
}

/* Content-bottom */

.content-bottom{
    justify-content: space-between;
}
/* SECTION-SECOND */
#section-second{
    background-color: #9692e6;
    margin-top: 30px;
}

#section-second > div:first-child{
    padding: 50px;
    column-gap: 20px;
}

.content img{
    width:100%;
    border-radius: 10px;
}

.binotto-board > *{
    padding-bottom: 30px;
}

.toto-board{
    text-align: center;
}

.content-toto{
    padding: 20px;
}

.toto-board{
    align-self: flex-end;
}

.toto-board div:first-child{
    background-color: white;
    border-radius: 10px;
}
/* SECTION THIRD */
.text{
    text-align: center;
}

.text > *{
    padding-bottom: 10px;
}

.content-photo{
    width: 40%;
}

.content-photo img{
    width: 100%;
    border-radius: 50%;
}

.charles-board{
    background-color: #ffbfbf;
    border-radius: 10px;
    margin-bottom: 20px;
}

.charles-board > *{
    padding: 20px;
}

#section-third > div:first-child{
    padding-top: 50px;
}

.carlos-board{
    background-color: #feddaa;
}

.antonio-board{
    background-color: #b2e9ca;
}
/* SECTION fourth  */

#section-fourth{
    background-color: #9692e6;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-section-fourth{
    margin-top: 50px;
}

.container-section-fourth{
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
/* SECTION FIFth */

.about-us{
    width: 70%;
}

.about-us > *{
    margin-bottom: 20px;
}

.board-horner{
    width: 30%;
}
#section-fifth > div:first-child{
    padding-top: 50px;
    column-gap: 30px;
    padding-bottom: 50px;
}

/* SECTION SIXTH */
#section-sixth{
    background-color: #9692e6;
    padding-top: 80px;
    padding-bottom: 80px;
}

.container-section-sixth{
    width: 50%;
    margin: auto;
    text-align: center;
}

/************* FOOTER  ************/

#section-footer{
    background-color: #333333;
    color: white;
}

.container-section{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.container-section > *{
    padding-bottom: 30px;
}

