*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* generics */
button{
    border: none;
    background-color: transparent;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}
/* utilities */
.w-80{
    width: 80%;
    margin: auto;
}

/************* HEADER  ************/
#header-principal{
    background-color: #0084fd;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}

.header-img-content{
    width: 60px;
}

.container-header button i{
    color: white;
}

.btn-none{
    display: none;
}

nav{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.btn-white{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 70px;
}

/************* MAIN  ************/
/* section-first */








/************* FOOTER  ************/
